.image-container {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .caroussel-image {
        transition: none;
    }
}

@media (max-width: 600px) {
    .image-container {
        align-items: flex-start;
    }
}