.collage {
    width: 100%;

    .collage-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-weight: 400;
        }

        span {
            opacity: 0.6;
        }
    }

    .collage-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 400px) {
    .collage-footer {
        .collage-footer-catalog {
            display: none;
        }
    }
}